fastapi
uvicorn
motor
numba
strawberry-graphql[fastapi]
temporalio
pytest
pytest-asyncio
jinja2
cmake
gqlalchemy
paramiko
jsonpath-ng
jsonpath-python
jsonpath-rw
jsonpath-rw-ext
requests
xmltodict
nornir
nornir-jinja2
nornir-netconf
nornir-netmiko
nornir-scrapli
nornir-utils
grpcio
grpcio-tools
concurrent-log-handler
aiokafka
confluent_kafka
asyncio
cassandra-driver
pyyaml
uuid