.clr-timeline-step:nth-child(1):not(:last-of-type):before {
    position: absolute;
    top: 0.85rem;
    left: calc(3rem + 1.8rem + .55rem);
    content: "";
    background: #b3b3b3;
    background: var(--clr-timeline-line-color, hsl(198, 0%, 70%));
    height: .1rem;
    width: calc(100% - .9rem - .1rem);
}

.clr-timeline-step:nth-child(1) .clr-extra {
    position: absolute;
    top: -0.85rem;
    left: calc(3rem + .55rem);
    overflow: visible;
}